
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --black: #222;
    --white: #fff;
    --azul: #0751a6;
    --amarillo: #d3b717;
    --rojo: #e71247;
}

a{
    text-decoration: none;
    color: var(--white); 
}

ul,
li{
    list-style: none;
}
/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
} */
.register_container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/* Register Header  */
.nav__logo{
    font-size: 2rem;
    color: var(--white);
}
.nav__logo span{
    color: var(--amarillo);
}
.nav__list {
    display: flex;
    gap: 40px;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    align-items: center;
    color: white;
    padding-right: 0 20px 0 20px;
}
.nav__list > p > a {
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.register__login__header {
    display: flex;
    justify-content: space-between;
    background: var(--black);
    width: 100%;
    padding: 0 20px 0 20px;
}


/* Section Form  */

.register__section {
    display: grid;
    place-content: center;
    place-items: center;
}
.register__section h1 {
    font-size: clamp(2rem, 10vw, 6rem); 
    font-family: 'Permanent Marker', cursive;
}
.register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 900px;
    gap: 30px;
    border-radius: 15px;
}
.img__container {
    border-radius: 15px;
    height: 450px;
    box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
}
.img__container > img {

    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.register__section {
    width: 100%;
    height: 90vh;  
}
.have__account {
    padding: 10px;
}
.have__account p a {
    color: var(--black);
    font-size: inherit;
}
.have__account p a:hover {
    color: var(--amarillo);
    transition: all 0.5s ease;
}
.have__account:hover {
    color: var(--amarillo);
}
.mb-3 {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.mb-3 label {
    padding: 10px;
    font-weight: 700;
}
.mb-3 input {
    border-radius: 10px;
    height: 30px;
    width: 250px;
}
.form__check {
    padding: 10px;
}
.btn_and_login {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Checked  */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    display: flex;
    gap: 20px;
   }
   
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    transition: all 0.3s;
    border-radius: 5px;
   }
   
   .container input:checked ~ .checkmark {
    background-color: #47da99;
    animation: pop 0.5s;
    animation-direction: alternate;
   }
   
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   
   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }
   
   @keyframes pop {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.9);
    }
   
    100% {
     transform: scale(1);
    }
   }


/* button  */
button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }


/* Footer  */
.main__footer {
    background-color: var(--black);
    width: 100%;
    /* height: 14vh; */
    color: var(--white);
    font-size: clamp(1.5rem, 1.5vw, 4rem);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.footer_history {

    width: 300px;
    font-size: clamp(1rem, 0.5vw, 2rem);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_history>a>h3>span {
    color: var(--amarillo);
}

.footer__socials {
    font-size: 25px;
}

.footer__socials>a:hover {
    color: var(--amarillo);
}

.footer_links {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_links > a > p:hover {
    color: var(--amarillo);
}
.footer_links >a >p{
    font-weight: 100;
}
/* Medias Queries */

/* Form */

@media (max-width:768px) {
    .img__container {
        display: none;
    }
    .register__login__header {
        height: 10vh;
        display: flex;
        justify-content: center;
      }
    .register__section {
        width: 100%;
        /* height: 67vh; */
    }
    .register-form {
        background-image: url(/img/reloj.gif);
        transition: all 1s ease;
        background-position: center;
        padding: 20px;
        min-width: 380px;
        color: var(--white);
        font-size: 20px;
    }
    .nav__list > p:first-child {
        display: none;
    }
    .nav__logo >h1 {
        display: none;
    }
    .register__login__header {
        height: 10vh;
    }

}